<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439061140143-mugcaiu084d3o1vers34dlh19h938eb6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439061140143-mugcaiu084d3o1vers34dlh19h938eb6</string>
	<key>API_KEY</key>
	<string>AIzaSyDc82k95ch3lHIW1qdSSSmCoKK1T_UivWw</string>
	<key>GCM_SENDER_ID</key>
	<string>439061140143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jb.misgastos.misGastos</string>
	<key>PROJECT_ID</key>
	<string>mis-gastos-jb</string>
	<key>STORAGE_BUCKET</key>
	<string>mis-gastos-jb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439061140143:ios:e3f077d32c07aa1bb73a5a</string>
</dict>
</plist>